<div *ngIf="client">
  <mat-card class="example-card mt-2">
    <mat-card-header>
      <mat-card-title>Client's info:</mat-card-title>
    </mat-card-header>
    <div class="row m-0 p-0">
      <div class="col-6 m-0 p-3">
        <img mat-card-image src="{{ client[0].general.avatar }}" alt="Photo of a {{ client[0].general.firstName }}">
      </div>
      <div class="col-6 m-0 p-3">

        <mat-card-content>
          <h4>{{ client[0].general.firstName }} {{ client[0].general.lastName }}</h4>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content>
          <p>Job:</p>
          <h6>Company: "{{ client[0].job.company }}"</h6>
          <h6>{{ client[0].job.title }}</h6>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content>
          <p>Address:</p>
          <h6>{{ client[0].address.country }}, {{ client[0].address.city }}, {{ client[0].address.street
            }}</h6>
        </mat-card-content>
        <mat-divider></mat-divider>

        <mat-card-content>
          <p>Contact:</p>
          <h6>Email: {{ client[0].contact.email }}</h6>
          <h6>Phone: {{ client[0].contact.phone }}</h6>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>