/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-list-item {
  border: 1px solid gray;
}
.mat-list-item:focus {
  /* background-color: lightgray !important; */
  border: 2px solid gray;
  border-right: none;
}
.mat-card,
.mat-list-item {
  box-shadow: 0 0 5px gray !important;
}
.mat-card-image {
  width: 128px;
}
